@import "./components/aside";
@import "./components/head";
@import "./components/avatar";
@import "./components/user-data";
@import "./components/user-password";
@import "./components/referrals";

@import "balance";

.panel {
  &__inner {
    margin-top: 60px;
    @include flex-between(48);
    @media (max-width: 1100px) {
      margin-top: 45px;
      flex-direction: column;
    }
  }

  &__content {
    @include flex-column(50);
  }

  &__title, &__subtitle {
    font-size: 20px;
    font-weight: 500;
    @include r($phone) {
      font-size: 18px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }
}
