.benefits {
    padding: $padding96 0;

    &__item {
        border-radius: 12px;
        background-color: $black600;
        padding: 16px;
    }

    &__icon {
        width: 56px;
        height: 56px;
        margin-bottom: 20px;
        border-radius: 12px;
        @include flex-center;
        background-color: $black500;
        transform: translateY(-32px);
    }

    &__name {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 20px;
        margin-top: -32px;
    }

    &__text {
        color: $gray500;
    }
}
