@import './components/list';
@import './components/top';

.home {
    padding: $padding96 0;
    position: relative;
    overflow: hidden;
    align-self: flex-start;

    &__inner {
        @include flex-between-center-gap(25);
    }

    &__content {
        max-width: 700px;
        position: relative;
        z-index: 4;
    }

    &__slogan {
        font-size: 14px;
        font-weight: 500;
        background-color: $primary800;
        color: $primary300;
        padding: 6px 12px;
        border-radius: 20px;
        display: inline-block;
        margin-bottom: 24px;
    }

    &__title {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 1.26;
        letter-spacing: -1.2px;
        @media (max-width: 1300px) {
            font-size: 56px;
            line-height: 1.22;
        }
        @include r($desktop) {
            font-size: 52px;
        }
        @media (max-width: 1100px) {
            font-size: 50px;
        }
        @include r($lg) {
            font-size: 46px;
        }
    }

    &__text {
        color: $gray500;
        font-size: 18px;
        margin-bottom: 48px;
        @media (max-width: 1300px) {
            max-width: 560px;
        }
    }

    &__actions {
        @include flex-align-center(12);
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: -83%;
        @media (max-width: 1840px) {
            right: -50px;
        }
        @media (max-width: 1715px) {
            width: auto;
            height: 1200px;
            right: -130px;
        }
        @media (max-width: 1660px) {
            height: 1100px;
            bottom: -70%;
        }
        @media (max-width: 1450px) {
            right: -170px;
        }
        @media (max-width: 1320px) {
            right: -250px;
        }
        @media (max-width: 1300px) {
            bottom: -72%;
        }
        @media (max-width: 1230px) {
            right: -330px;
        }
        @include r($desktop) {
            height: 1000px;
            bottom: -67.5%;
            right: -260px;
        }
        @media (max-width: 1060px) {
            right: -290px;
            height: 950px;
        }
    }
}
