@import './components/list';
@import './components/top';

.home {
  padding: $padding96 0;
  position: relative;
  overflow: hidden;
  align-self: flex-start;
  @media (max-width: 1300px) {
    padding: 70px 0;
  }
  @include r($lg) {
    padding: 60px 0;
  }
  @media (max-width: 860px) {
    padding: 50px 0;
  }
  @include r($tablet) {
    padding-top: 40px;
  }
  @include r($sm) {
    padding: 35px 0;
  }

  &__inner {
    @include flex-between-center-gap(25);
    @include r($phone) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 700px;
    position: relative;
    z-index: 4;
    @media (max-width: 960px) {
      max-width: 560px;
    }
    @include r($tablet) {
      max-width: 440px;
    }
  }

  &__slogan {
    font-size: 14px;
    font-weight: 500;
    background-color: $primary800;
    color: $primary300;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 1.26;
    letter-spacing: -1.2px;
    @media (max-width: 1300px) {
      font-size: 56px;
      line-height: 1.22;
    }
    @include r($desktop) {
      font-size: 52px;
    }
    @media (max-width: 1100px) {
      font-size: 48px;
      line-height: 1.16;
    }
    @include r($lg) {
      font-size: 44px;
    }
    @media (max-width: 960px) {
      font-size: 40px;
    }
    @media (max-width: 880px) {
      font-size: 38px;
    }
    @media (max-width: 810px) {
      font-size: 36px;
    }
    @include r($tablet) {
      font-size: 33px;
    }
    @media (max-width: 690px) {
      font-size: 32px;
    }
    @include r($sm) {
      font-size: 30px;
    }
    @media (max-width: 540px) {
      font-size: 28px;
    }
    @include r($phone) {
      font-size: 26px;
    }
  }

  &__text {
    color: $gray500;
    font-size: 18px;
    margin-bottom: 48px;
    @media (max-width: 1300px) {
      max-width: 560px;
    }
    @media (max-width: 940px) {
      font-size: 16px;
      max-width: 430px;
    }
    @media (max-width: 690px) {
      max-width: 340px;
    }
  }

  &__actions {
    @include flex-align-center(12);
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: -83%;
    object-fit: cover;
    @media (max-width: 1840px) {
      right: -50px;
    }
    @media (max-width: 1715px) {
      width: auto;
      height: 1200px;
      right: -130px;
    }
    @media (max-width: 1660px) {
      height: 1100px;
      bottom: -70%;
    }
    @media (max-width: 1450px) {
      right: -170px;
    }
    @media (max-width: 1320px) {
      right: -250px;
    }
    @media (max-width: 1300px) {
      height: 1000px;
      bottom: -74%;
    }
    @media (max-width: 1230px) {
      right: -290px;
    }
    @include r($desktop) {
      height: 960px;
      right: -260px;
    }
    @media (max-width: 1060px) {
      right: -290px;
      height: 950px;
    }
    @include r($lg) {
      height: 880px;
      right: -240px;
    }
    @media (max-width: 890px) {
      right: -300px;
      height: 840px;
    }
    @media (max-width: 860px) {
      bottom: -79%;
    }
    @media (max-width: 840px) {
      right: -270px;
    }
    @include r($tablet) {
      height: 760px;
      bottom: -74%;
    }
    @media (max-width: 690px) {
      height: 710px;
      right: -250px;
      opacity: .7;
    }
    @media (max-width: 540px) {
      right: -220px;
    }
    @include r($phone) {
      position: static;
      margin-bottom: -340px;
      margin-top: -58px;
      opacity: 1;
      transform: translateX(15px);
    }
  }
}
