.services {
  background-color: $black600;
  padding: $padding96 0;
  @include r($desktop) {
    padding: $padding74 0;
  }
  @media (max-width: 860px) {
    padding: $padding60 0;
  }
  @media (max-width: 690px) {
    padding: $padding50 0;
  }

  &__icon {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: $black500;
    @include flex-center;
    width: 48px;
    height: 48px;
  }

  &__name {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
  }

  &__text {
    color: $gray500;
    padding-right: 15px;
  }
}
