.socials {
  padding: $padding96 0;
  background-color: $black600;
  @include r($desktop) {
    padding: $padding74 0;
  }
  @media (max-width: 860px) {
    padding: $padding60 0;
  }
  @media (max-width: 690px) {
    padding: $padding50 0;
  }

  &__item {
    border-radius: 12px;
    padding: 16px;
    background-color: $black500;
    transition: background-color .4s;
    cursor: pointer;
    @media (max-width: 1040px) {
      padding: 16px 14px;
      border-radius: 8px;
    }

    &:hover {
      background-color: $primary800;

      .services__icon {
        background-color: $primary700;
      }
    }

    &--blur {
      filter: blur(7px);
    }
  }

  &__icon {
    @include flex-center;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: $black600;
    margin-bottom: 20px;
    transition: background-color .4s;
    @include r($lg) {
      width: 44px;
      height: 44px;
    }
  }

  &__name {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 20px;
    @include r($lg) {
      font-size: 18px;
    }
  }

  &__description {
    color: $gray500;
  }
}
