.cta {
  padding: 48px 0;
  background-color: $black500;
  @media (max-width: 1100px) {
    padding: 42px 0;
  }
  @media (max-width: 860px) {
    padding: 34px 0;
  }
  @include r($sm) {
    padding: 30px 0;
  }

  &__inner {
    @include flex-between(30);
    align-items: flex-start;
    @media (max-width: 830px) {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 770px;
    width: 100%;
    @media (max-width: 1070px) {
      max-width: 570px;
    }
    @media (max-width: 830px) {
      max-width: 420px;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 500;
    @include r($phone) {
      font-size: 19px;
    }
  }

  &__text {
    color: $gray400;
    @media (max-width: 1070px) {
      max-width: 430px;
    }
  }
}
