.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  width: 100%;
  background-color: $black600;
  padding: 20px;
  border-radius: 16px;
  font-size: 14px;
  transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .4s;
  z-index: 300;
  overflow: hidden;

  &--long {
    max-width: 800px;
    padding: 30px 25px 35px;
  }

  &--active {
    transform: translate(-50%, -50%);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }

  &__title {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 14px;
    font-weight: 500;
    line-height: 1.2;

    &--bottom {
      margin-bottom: 26px;
    }
  }

  &__text {
    max-width: 420px;
    margin-bottom: 24px;
    color: #667085;

    span {
      color: $primary300;
    }
  }

  &__support {
    @include flex-column(4);
    margin-bottom: 20px;

    span {
      color: $gray500;
    }
  }

  &__link {
    transition: color .4s, opacity .4s;
    color: $primary400;
    align-self: flex-start;
    font-weight: 600;

    &:hover {
      color: rgba($white, .4);
    }

    &:focus {
      opacity: .4;
    }
  }

  &__network {
    @include flex-column(12);

    span {
      color: $gray500;
    }
  }

  &__socials {
    @include flex-align-center(12);
  }

  &__social {
    width: 45px;
    height: 45px;
    @include flex-center;
    background-color: $black700;
    border-radius: 50%;
    transition: background-color .4s, filter .4s;

    &:hover {
      background-color: $black800;
    }

    &:focus {
      filter: grayscale(1);
    }

    img {
      @include objectCoverBg;
      height: auto;
      width: 45%;
    }
  }

  &__close {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    outline: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      color: $primary400;

      &::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &:focus {
      outline-color: $primary400;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      width: 35%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: currentColor;
      border-radius: 4px;
      transition: transform .4s;
      will-change: transform;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__question {
    text-align: center;
    color: $gray500;
  }

  &__forgot {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 24px;
  }

  &__list {
    @include flex-column(20);
    margin-bottom: 24px;

    &--grid {
      display: grid;
      grid-gap: 30px 40px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__btn-auth {
    width: 100%;
    margin-bottom: 20px;

    &:disabled {
      pointer-events: none;
      user-select: none;
      opacity: .25;
    }
  }

  &__captcha {
    @include flex-align-center(20);
    margin-bottom: 17px;
  }

  &__refresh {
    display: flex;

    &:hover {
      svg path {
        stroke: $white;
      }
    }
  }

  &__buttons {
    @include flex-align-center(15);
  }

  &__btn {
    margin-top: 10px;

    &--cancel, &--confirm {
      border-radius: 4px;
    }

    &--cancel {
      background-color: #652020;

      &:hover {
        border-color: #983030;
      }
    }

    &--confirm {
      background-color: #0f6651;

      &:hover {
        border-color: #179d7c;
      }
    }
  }
}
