.panel-referrals {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-bottom: 24px;

    @media (max-width: 1100px) {
      grid-gap: 15px;
    }
    @include r($lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include r($phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-color: $black600;
    border-radius: 12px;
    padding: 20px;
    @include flex-column(14);
    @media (max-width: 1100px) {
      border-radius: 8px;
      gap: 7px;
      padding: 18px 14px;
    }

    &:nth-child(3) {
      @include r($lg) {
        grid-column: span 2;
      }
      @include r($phone) {
        grid-column: span 1;
      }
    }
  }

  &__digital {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    @include r($desktop) {
      font-size: 32px;
    }
    @media (max-width: 1100px) {
      font-size: 28px;
    }
    @include r($sm) {
      font-size: 26px;
    }
    @include r($phone) {
      font-size: 24px;
    }
  }

  &__subtext {
    color: $gray500;
    font-weight: 500;
  }

  &__bonuses {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 530px;
    margin-bottom: 40px;
  }

  &__bonus {
    padding: 4px 12px;
    font-size: 14px;
    color: $primary300;
    background-color: $primary700;
    border-radius: 16px;
  }

  &__link {
    margin-bottom: 40px;
    max-width: 460px;
  }

  &__info {
    font-size: 14px;
    color: $gray500;
    margin-top: -9px;
    margin-bottom: 24px;
  }

  &__field {
    @include flex-between-center-gap(10);
    width: 100%;
    color: $gray500;
    padding: 11px 14px;
    border-radius: 8px;
    border: 1px solid $black500;
  }

  &__description {
    max-width: 645px;
    padding-bottom: 50px;
    @media (max-width: 1100px) {
      padding-bottom: 35px;
    }
    @include r($sm) {
      padding-bottom: 30px;
    }
  }

  &__text {
    color: $gray500;
    @include flex-column(18);
    @include r($phone) {
      gap: 15px;
      font-size: 14px;
    }
  }

  &__btn {
    @include flex-center;
    border-radius: 5px;
    transition: outline .4s;

    &:hover {
      svg g path {
        stroke: $green400;
      }
    }

    &:focus {
      outline: 1px solid $green400;
    }
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

#mySVG {
  cursor: pointer;
}

.exploded {
  animation: explode 0.5s forwards;
}
