.panel-password {
    max-width: 640px;
    width: 100%;
    padding-bottom: 50px;

    &__form {
        @include flex-column(20);
    }

    &__btn {
        font-weight: 400;
        padding: 14px 20px;

        &:disabled {
            pointer-events: none;
            user-select: none;
            opacity: .25;
        }
    }
}
